name: 'Laravel'

on:
  push:
    branches:
      - main

  pull_request: {}

  schedule:
    - cron: '0 3 * * *'

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write
  deployments: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v5

      - name: 'Setup Pages'
        id: pages
        uses: actions/configure-pages@v5

      - name: 'Setup PHP'
        uses: shivammathur/setup-php@03fd0b8719f892f52e4def8effdef10cc2ee4f4c # 2.0.2
        with:
          php-version: '8.3'

      - name: 'Setup Node'
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'

      - name: 'Copy .env'
        run: cp .env.deploy .env

      - name: 'Install composer dependencies'
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: 'Install npm dependencies'
        run: npm ci

      - name: 'Build assets'
        run: npm run build

      - name: 'Generate key'
        run: php artisan key:generate --force

      - name: 'Export website'
        run: php artisan export
        env:
          APP_URL: ${{ steps.pages.outputs.base_url }}

      - name: 'Upload artifact'
        uses: actions/upload-pages-artifact@v4
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        with:
          path: 'dist'

      - name: 'Deploy to Cloudflare Pages'
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy dist --project-name=sanderjochems
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    needs: build

    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    concurrency:
      group: 'deploy'

    steps:
      - name: 'Deploy to GitHub Pages'
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
